

<div class="flex flex-wrap items-center justify-between">
  <div class="w-full lg:w-1/2">
    <h1 class="text-2xl">Tasks</h1>
  </div>

  <div class="w-full lg:w-1/2 lg:text-right">
    <%= link_to new_task_path, class: 'btn btn-default' do %>
      Add New Task
    <% end %>
  </div>
</div>

<table class="w-full max-w-full mb-1 bg-transparent border-collapse">
  <thead>
    <tr>
      

              <th class="border-2">Employee</th>
              <th class="border-2">Email</th>
              <th class="border-2">Task</th>
            
        <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <%= content_tag :tr, id: dom_id(task), class: dom_class(task) do %>
        

                  <td class="border-2">
            <% if Task.reflect_on_all_associations(:belongs_to).map{|e| e.name}.include?(:employee) %>
            <%= link_to task.try(:employee).short_name, task.try(:employee),class: "btn btn-link"  %>
            <% else %>
            <%= task.employee %>
            <% end %>
          </td>
                  <td class="border-2">
            <% if Task.reflect_on_all_associations(:belongs_to).map{|e| e.name}.include?(:email) %>
            <%= link_to task.try(:email).short_name, task.try(:email),class: "btn btn-link"  %>
            <% else %>
            <%= task.email %>
            <% end %>
          </td>
                  <td class="border-2">
            <% if Task.reflect_on_all_associations(:belongs_to).map{|e| e.name}.include?(:task) %>
            <%= link_to task.try(:task).short_name, task.try(:task),class: "btn btn-link"  %>
            <% else %>
            <%= task.task %>
            <% end %>
          </td>
        
        
          <td><%= link_to 'Show', task %></td>
        
        <% end %>
        <% end %>
      </tbody>
    </table>


